@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
nav{
    position: absolute;
   right: 0;
   height: 100vh;
   background-color: darkmagenta;
   color: white;
   width: 200px;
   text-align: right;
   padding: 10px 10px 0 0;
}
.list_nav li{
    list-style-type: none;
    padding: 20px 10px 0;
}
.list_nav li a{
    color: white;
}
.menu{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: darkmagenta;
    padding: 5px;
}
nav{
    display: none;
}
nav.active{
    display: block;
    transform: translateX(0);
   transition: 0.2s;
}
.fa{
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 10px;
}